
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Helvetica", "Arial", sans-serif;
}

body {
  font-family: "Public Sans", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  /* max-width: 1440px; */  /* RIMUOVI QUESTO */
  margin: 0; /* Oppure elimina del tutto */
}



/* Hero Section */
.hero-section {
  flex: 1;
  background-color:#1333d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  color: white;
}

.logo-icon {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.image-container {
  margin-bottom: 3rem;
  position: relative;
}

.swytfx-logo{
  max-width: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  margin-bottom: 50px;;

}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: slideFade 0.5s ease-in-out;
  position: relative;
}


.carousel-slide {
  overflow: hidden;
  position: relative;
}

.hero-image, .hero-title, .hero-subtitle {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.6s ease;
}

.carousel-slide.active .hero-image,
.carousel-slide.active .hero-title,
.carousel-slide.active .hero-subtitle {
  opacity: 1;
  transform: translateX(0);
}


.indicator {
  width: 32px;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: white;
  animation: none;
}

.indicator.active::before {
  animation: fillBar 4s linear forwards;
}

@keyframes fillBar {
  from { width: 0%; }
  to { width: 100%; }
}



.hero-image {
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
  object-fit: contain;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 28rem;
}

.hero-title {
  color: white;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-title em {
  font-style: italic;
  font-weight: 300;
  color: #abfffd;
}

.hero-subtitle {
  color: white;
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 3rem;
  line-height: 1.6;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.indicator {
  width: 8px;
  height: 8px;
  background: white;
  opacity: 0.4;
  border-radius: 50%;
}

.indicator.active {
  width: 32px;
  border-radius: 4px;
  opacity: 1;
}

/* Login Section */
.login-section {
  width: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.login-container {
  max-width: 29.4rem;
  margin: 0 auto;
  width: 100%;
}

.login-title {
  font-size: 30px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 2rem;
}

.title-img {
  width: 240px;
  height: auto;
  margin-bottom: 25px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}


.security-notice {
  background: #e3f7ff;
  border: 1px solid #1333d4;
  border-radius: 12px;
  padding: 12px;
  margin-top: -8px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.info-icon {
  width: 23px;
  height: 23px;
}

.locker-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #1333d4;
}

.notice-title {
  font-weight: 500;
  font-size: 14px;
}

.notice-url {
  color: #1333d4;
  font-weight: 600;
  font-size: 12px;
  margin-top: 7px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}


/* phone number */


.phone-wrapper {
  display: flex;
  gap: 8px;
}

.country-code {
  max-width: 110px;
  flex-shrink: 0;
  appearance: none;
  background-color: #eaecee;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  color: #111827;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

.country-code:focus {
  outline: #1333d4 solid 3px;
}

.phone-number {
  flex: 1;
}




.form-label-email {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #151e29;
  line-height: 16px;
  margin-bottom: 0.5rem;
}

.form-label-pswd {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #151e29;
  line-height: 16px;
  /* margin-bottom: 0.5rem; */
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.forgot-password {
  font-size: 12px;
  color: #1333d4;
  text-decoration: none;
  /* transition: color 0.2s; */
}

.forgot-password:hover {
  text-decoration: underline;
}

.form-input {
  line-height: 20px;
  background-color: #eaecee;
  gap: 4px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #111827;
  transition: all 0.2s;
}

.form-input:hover{
  background-color: #d4d7d9;
}

.form-input::placeholder {
  color: #9CA3AF;
  font-size: 14px;
}

.form-input:focus {
  outline:#1333d4 solid 3px;
  /* border-color: transparent;
  box-shadow: 5 5 5 2px #1333d4; */
}

.form-input.error {
  outline:#c33221 solid 3px;
}


.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  color: #1333d4;
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
}



.checkbox-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: #374151;
}

.g-recaptcha{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .recaptcha-container {
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recaptcha-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.recaptcha-checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.recaptcha-text {
  font-size: 0.875rem;
  color: #374151;
}

.recaptcha-info {
  font-size: 0.75rem;
  color: #6B7280;
  text-align: right;
}

.recaptcha-links {
  text-align: right;
} */

.signin-button {
  gap: 8px;
  width: 100%;
  background: #D1D5DB;
  color: #6B7280;
  padding: 15px 16px;
  border-radius: 100px;
  font-weight: 500;
  border: none;
  cursor: not-allowed;
  transition: all 0.2s;
}

.signin-button:not(:disabled) {
  background: #1333d4;
  color: white;
  cursor: pointer;
}

.signin-button:not(:disabled):hover {
  background: #000ca3;
}

.signup-link {
  margin-top: 1.5rem;
  text-align: center;
}

.signup-text {
  font-size: 0.875rem;
  color: #6B7280;
}

.signup-link-text {
  font-size: 0.875rem;
  color: #1333d4;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.signup-link-text:hover {
  color: #000ca3;
}

.swytfx-logo-black {
  display: none;
  width: auto;
  height: auto;
  max-width: 120px;
  margin: 0 auto 32px;
  object-fit: contain;
}

.iti {
  width: 100%;
}


/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .hero-section {
    display: none;
  }

  .login-section {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 100%;
    max-width: 100%;
  }

  .swytfx-logo {
    display: none;
  }

  .swytfx-logo-black {
    display: block;
    margin: 0 auto 32px;
  }
}
